<div class='epl-rank'>
<h3 class='epl-left epl-title-page'>
	<a href="#/rank" class='epl-href'>
		Tables
	</a>
</h3>

<div class='epl-phase-nav'>
	<div class="input-group epl-season">
		<div class="input-group-btn ">
			<div type="button" class="btn btn-default epl-season-label">Season : </div>
		</div>
		<input type="text" value="2014-2015" disabled=""
			class="form-control epl-season-input" >
	</div>

	<div class="input-group epl-week">
		<div class="input-group-btn epl-week-label">
			<button type="button" class="btn btn-default ">Week</button>
			<button type="button" class="btn btn-default dropdown-toggle" 
				data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li data-ng-repeat='w in vm.weeks'>
					<a ng-click='vm.changeWeek(w.weekNumber)' class='epl-cursor-pointer'>
						{{w.dateView}}
					</a>
				</li>
			</ul>
		</div>
		<input type="text" class="form-control epl-week-input" disabled=""
			value='{{vm.selectedWeek}}'>

		<div type='button' class='btn btn-default epl-btn-nav'
			ng-disabled='vm.prevRankDisable'ng-click='vm.changeWeek(vm.currWeek - 1)'>
			<span class='glyphicon glyphicon-step-backward' 
				aria-hidden='true'>
			</span>
		</div>

		<div type='button' class='btn btn-default epl-btn-nav'
			ng-disabled='vm.nextRankDisable' ng-click='vm.changeWeek(vm.currWeek + 1)'>
			<span class='glyphicon glyphicon-step-forward' 
				aria-hidden='true'>
			</span>
		</div>
	</div>

	<div class='clearfix'></div>

	<div id="epl-slider"></div>
</div>

<table class="table borderless epl-table">
	<thead>
		<tr>
			<th class='epl-center'>#</th>
			<th class='epl-left' colspan='2'>Team</th>
			<th class='epl-center'>GP</th>
			<th class='epl-center'>W</th>
			<th class='epl-center'>D</th>
			<th class='epl-center'>L</th>
			<th class='epl-center'>GD</th>
			<th class='epl-center'>PTS</th>
		</tr>
	</thead>
	<tbody>
		<tr class="{{$odd ? 'odd' : 'even'}} gradeX" data-ng-repeat='r in vm.ranks'>
			<td class='epl-center'>{{$index + 1}}</td>
			<td class='epl-left epl-column-teamname'>
				<img class='image epl-mini-team-logo' alt='' 
					ng-src='eplweb_components/image/logo/150x150/{{r.team.id}}.png' >
				<a ng-href='#/team/{{r.team.id}}/{{r.team.simpleName}}'
					class='epl-href'>
					{{r.team.name}}
				</a>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-sm" ng-click='vm.showChart($index)'>
					<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
				</button>
			</td>
			<td class='epl-center'>{{r.gamesWon + r.gamesDrawn + r.gamesLost}}</td>
			<td class='epl-center'>{{r.gamesWon}}</td>
			<td class='epl-center'>{{r.gamesDrawn}}</td>
			<td class='epl-center'>{{r.gamesLost}}</td>
			<td class='epl-center'>{{r.goalsScored}} - {{r.goalsAgainst}}</td>
			<td class='epl-center'>{{r.points}}</td>
		</tr>                
	</tbody>
</table>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="epl-modal-id" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width: 800px; margin: 0 auto">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{vm.currTeam.team.name}}'s Statistic</h4>
			</div>
			<div class="modal-body">
				<div id="epl-chart-container" 
					style="width: 750px; height: 400px; margin: 0 auto">
				</div>
			</div>
		</div>
	</div>
</div>

</div>