<div class="epl-voting-result voting-{{m.id}}"
	style="width: 400px; height: 200px; margin: 0 auto">
</div>

Who will win ? 
<br/>
	<button type="button" 
		class="btn btn-xs btn-{{vm.voting.getCurrVoting()==1?'success':'default'}}"
		ng-click="vm.submitVoting('HOME', 1)">
		{{m.homeTeam.shortName}}
		<img class="image epl-mini-team-logo"
			ng-src="eplweb_components/image/logo/150x150/{{m.homeTeam.id}}.png" alt=""/>
	</button>
	<button type="button" 
		class="btn btn-xs btn-{{vm.voting.getCurrVoting()==3?'success':'default'}}"
		ng-click="vm.submitVoting('TIE', 3)">
		Tie
	</button>
	<button type="button" 
		class="btn btn-xs btn-{{vm.voting.getCurrVoting()==2?'success':'default'}}"
		ng-click="vm.submitVoting('AWAY', 2)">
		<img class="image epl-mini-team-logo"
			ng-src="eplweb_components/image/logo/150x150/{{m.awayTeam.id}}.png" alt=""/>
		{{m.awayTeam.shortName}}
	</button>
</div>