<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Weekend Match</title>
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
		<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.profile.emails.read" />

		<link href="eplweb_components/css/eplweb.css" rel="stylesheet"/>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<!-- bower module and other module -->
		<script src="eplweb_components/js/vendors.js"></script>
		<!-- app module -->
		<script src="eplweb_components/js/eplweb.js"></script>
		
		<!-- other script -->
		<script src='http://maps.google.com/maps/api/js?sensor=false'></script>
		<script src="https://apis.google.com/js/client:platform.js" async defer></script>

	</head>
	<body 
		data-ng-app="app"
		class="fixed skin-purple sidebar-collapse"
		ng-class="{'sidebar-collapse': !isAdminLogged}"
		cg-busy="{promise:promise}">
		<!-- Site wrapper -->
		<div class="wrapper">
			
			<header class="main-header">
				<div class="epl-displayblock" >
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="container">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" 
									data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" 
									aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>
								<div class="navbar-toggle collapsed epl-user-logged-btn"
									ng-show="isUserLogged">
									<span ng-include src="'app/html/userprofile.html'"/>
								</div>
								<a class="navbar-brand epl-menu-header" ui-sref="dashboard">
									EPL web app
								</a>

								<button type="button" class="navbar-toggle epl-toggle-menu" 
									data-toggle="offcanvas" role="button" aria-expanded="false"
									ng-show="isAdminLogged">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
								<ul class="nav navbar-nav navbar-right">
									<li>
										<a ui-sref="rank" class="epl-menu-header">Table</a>
									</li>
									<li>
										<a ui-sref="matchday.list-matchday" ui-sref-opts="{reload: true}"
												class="epl-menu-header">Matchday</a>
									</li>
									<li>
										<a ui-sref="totw" class="epl-menu-header">Team ot The Week</a>
									</li>
									<li ng-show="!isUserLogged">
										<div class="btn-group epl-signin-button">
											<button type="button" class="btn btn-primary dropdown-toggle" 
											data-toggle="dropdown" aria-expanded="false">
												Sign In
												<span class="sr-only"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li>
													<a class="btn btn-block btn-social btn-google-plus"
														ng-click="userSignIn('google')">
														<i class="fa fa-google-plus"></i>Sign in with Google
													</a>
												</li>
												<li class="epl-signin-divider"></li>
												<li>
													<a class="btn btn-block btn-social btn-facebook"
														ng-click="userSignIn('facebook')">
														<i class="fa fa-facebook"></i> Sign in with Facebook
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li class="epl-signin-onlist" ng-show="!isUserLogged">
										<a class="btn btn-block btn-social btn-google-plus"
											ng-click="userSignIn('google')">
											<i class="fa fa-google-plus"></i>Sign in with Google
										</a>
									</li>
									<li class="epl-signin-onlist" ng-show="!isUserLogged">
										<a class="btn btn-block btn-social btn-facebook"
											ng-click="userSignIn('facebook')">
											<i class="fa fa-facebook"></i> Sign in with Facebook
										</a>
									</li>
									<li class="epl-user-logged-btn" ng-show="isUserLogged">
										<div ng-include src="'app/html/userprofile.html'"></div>
									</li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</div>
						<!-- /.container -->
					</nav>
				</div>
			</header>

			<!-- =============================================== -->

			<!-- Left side column. contains the sidebar -->
			<aside class="main-sidebar">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">
					<!-- sidebar menu: : style can be found in sidebar.less -->
					 <div ng-include src="'app/html/adminmenu.html'"></div>
				</section>
				<!-- /.sidebar -->
			</aside>

			<!-- =============================================== -->

			<!-- Right side column. Contains the navbar and content of the page -->
			<div class="content-wrapper epl-isAdmin">
				<!-- Main content -->
				<section class="content">
					<!-- Default box -->
					<div class="box" id='epl-main-container'>
						<div class="box-body" ui-view>
						</div>
						<div id='epl-eof'/>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		</div>
		<!-- ./wrapper -->

		<script type="text/ng-template" id="errorModal.html">
			<div class="modal-header">
				<h3 class="modal-title">
					<i class="icon fa fa-warning"></i>
					Server Error
				</h3>
			</div>
			<div class="modal-body">
				Something bad happen, please contact administrator for the future 
				information.
				<br/>
				{{message}}
				<img ng-src="{{vm.selectedImage}}" class="epl-modal epl-sample-image"/>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="close()">
					Close
				</button>
			</div>
		</script>
	</body>

	<script>
		$(function() {
				$('.epl-menu-header').click(function() {
					$('#bs-example-navbar-collapse-1').removeClass('in')
				});
		});
	</script>
</html>

